@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: serif;
}

h2 {
    font-size: 50px;
}

/* -------------------------------- Navbar */
.navbar {
    background-color: black;
    justify-content: center;
    font-size: 22px;
    position: sticky;
}

.navbar li {
    padding: 5px 20px;

}

/* -------------------------------- Hero Section */
.hero-container {
    background-color: black;
}

/* -------------------------------- Hero Text Side */
.hero-text {
    font-weight: 500;
    font-family: 'Hind', sans-serif;
}

/* -------------------------------- Animated text CSS */

.wrapper {
    margin-top: 10%;
    padding: 10%;
}

.wrapper p {
    font-family: "Courier";
    letter-spacing: .2em;
    line-height: 1.1em;
    font-size: 4em;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid white;
    text-transform: uppercase;
    color: white;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .wrapper p {
        font-size: 2em;
    }
}

.wrapper p:nth-child(1) {
    width: 7ch;

    -webkit-animation: line1 2s steps(20, end);
    animation: line1 2s steps(20, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    ;
}

.wrapper p:nth-child(2) {
    width: 7ch;
    opacity: 0;
    -webkit-animation: line2 5s steps(20, end), blink .5s step-end infinite alternate;
    animation: line2 2s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.wrapper p:nth-child(3) {
    width: 8ch;
    opacity: 0;
    -webkit-animation: line3 5s steps(20, end), blink .5s step-end infinite alternate;
    animation: line3 2s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.wrapper p:nth-child(4) {
    width: 11ch;
    opacity: 0;
    -webkit-animation: line4 5s steps(20, end), blink .5s step-end infinite alternate;
    animation: line4 2s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 10s;
    animation-delay: 6s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.wrapper p:nth-child(5) {
    width: 12ch;
    opacity: 0;
    -webkit-animation: line5 5s steps(20, end), blink .5s step-end infinite alternate;
    animation: line5 2s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes line1 {
    0% {
        width: 0;
    }

    99.9% {
        border-right: .15em solid orange;
    }

    100% {
        border: none;
    }
}

@-webkit-keyframes line1 {
    0% {
        width: 0;
    }

    99.9% {
        border-right: .15em solid orange;
    }

    100% {
        border: none;
    }
}

@keyframes line2 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: .15em solid orange;
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes line2 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: .15em solid orange;
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes line3 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes line3 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes line4 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes line4 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes line5 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes line5 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@-webkit-keyframes blink {
    50% {
        border-color: tranparent;
    }
}


/* -------------------------------- Hero Image Side */
.hero-img {
    width: 100%;
}

/* -------------------------------- Projects */
.projetcs-header {
    padding-top: 20px;
    text-align: center;
}

.projects-header,
p {
    text-align: center;
}

.projects-img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.card {
    width: 75vw;
}

.project-blurb,
.project-tech {
    display: inline-block;
    width: 50%;
    padding: 15px;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .project-blurb,
    .project-tech {
        display: block;
        width: 100% !important;
        padding: 15px;
      
    }
}

.project-tech {
    float: right;
}

.projects-container .col:nth-child(3n+0) {
    background-color: blue;
}

.projects-col {
    padding: 50px;
}

.projects-card,
h3 {
    text-align: center;
}


/* -------------------------------- Buttons */

a.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    width: 100%;
}

a.button1:hover {
    color: #000000;
    background-color: #FFFFFF;
}

@media all and (max-width:30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}

.cta {
    min-width: 140px;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 10%;
    text-align: center;
    transition: all 0.2s;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    background-color: #FFFFFF;
    color: #000000;
}

a.cta:hover {
    color: #FFFFFF;
    background-color: #000000;
}

.fa-globe,
.fa-github {
    padding: 10px;
}

.tech-icon-container {
    padding: 30px;
}

.projects-card {
    box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
}

.github-logo {
    text-decoration: none;
    color: black;
    width: auto;
    display: inline-block;
    transition: transform .5s;
    padding-left: 20px;
    margin-top: 20px;
}

.github-logo:hover {
    transform: scale(1.15);
    box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
    background-color: white;
}

/* -------------------------------- About */

.about-col {
    position: relative;
    background:    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url("/media/person-on-laptop.jpeg") no-repeat center center fixed;
     background-color: rgba(76, 175, 80, 0.1);
    background-size: cover; 
    border: 1px solid black !important;  
    min-height: 200px;
}

.about-head {
    
}

.centered-about {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.about-speel {
    margin: 10px;
  }

  .about-me-container {
    background-color: black;
  }
  
  .about-container {
      background-color: white;
  }

  .about-me-section p {
      font-size: 30px;
      color: white;
    border-style: solid;
    padding: .4em .8em;
    line-height: 1;
    margin-right: 1em; 
    text-decoration: none;

  }

  @media only screen and (min-device-width: 280px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .about-me-section p {
        font-size: 20px;
        color: white;
      border-style: solid;
      padding: .4em .8em;
      line-height: 1;
      margin-right: 1em; 
      text-decoration: none;
      
    }
}